image: Visual Studio 2022  # образ Windows с поддержкой JDK

stack: JDK 11  # версия JDK

branches:
  only:
    - master  # ветка git

build: off  # используем свой скрипт сборки

install:
  # Запускаем SUT
  # В Windows используем start /B для запуска процесса в фоне
  - start /B java -jar .\artifacts\app-mbank.jar
  # chmod не нужен в Windows
  - .\gradlew.bat --version  # проверяем, что gradlew работает

build_script:
  # Запуск автотестов
  # Для Selenide добавляем headless режим через системное свойство
  - .\gradlew.bat test -Dselenide.headless=true --info
