image: Visual Studio 2022

stack: JDK 11

branches:
  only:
    - master

build: off

install:
    - start /B java -jar .\artifacts\app-mbank.jar
    - chmod +x gradlew

build_script:
  - .\gradlew.bat test -Dselenide.headless=true --info
